.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007bff; /* Change the background color to a blue shade */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2px; /* Increase the font size for better visibility */
  color: rgb(243, 0, 0);
  padding: 10px; /* Add some padding to improve spacing */
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}


.App-link {
  color: #fff; /* Set link color to white */
  text-decoration: none; /* Remove underline from links */
}

/* Additional styling for the h1 element */
h1 {
  font-size: 12px; /* Increase the font size for the header */
  margin-bottom: 12px; /* Add margin at the bottom of the header */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
